<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.univalle.inventarioapp">

    <!-- ✅ Requerido para Firestore/HTTP -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:enableOnBackInvokedCallback="true"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InventarioApp">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 🆕 Activity de edición -->
        <activity
            android:name=".EditProductActivity"
            android:exported="false" />

        <!-- ⬇️ WIDGET -->
        <receiver
            android:name=".InventoryWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/inventory_widget_info" />
        </receiver>

    </application>
</manifest>
